1.Split this String

In [1]:
s = "Hi there Sam!"

In [2]:
split_s = s.split()
split_s

['Hi', 'there', 'Sam!']

2. Use .format() to print the following string.

Output should be: The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742

In [4]:
print("The diameter of Earth is {} is {} kilometers".format(planet,diameter))

The diameter of Earth is Earth is 12742 kilometers

3. In this nest dictionary grab the word "hello"

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [6]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

import numpy

In [7]:
import numpy as np

4.1 Create an array of 10 zeros

In [8]:
aarr= np.zeros(10)
aarr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

4.2 Create an array of 10 fives

In [9]:
barr=np.array([5]*10)
barr

array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])

5. Create an array of all the even integers from 20 to 35

In [10]:
arr1=np.arange(20,36,2)
arr1

array([20, 22, 24, 26, 28, 30, 32, 34])

6. Create a 3x3 matrix with values ranging from 0 to 8

In [11]:
arr2=np.arange(0,9).reshape(3,3)
arr2

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

7. Concatinate a and b

In [12]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

In [13]:
arr=np.concatenate((a,b))
arr

array([1, 2, 3, 4, 5, 6])

import pandas

In [14]:
import pandas as pd

8. Create a dataframe with 3 rows and 2 columns

In [15]:
dframe=pd.DataFrame({'NAME': ['Shubha','Sharmila','Rufina'],'SUBJECT':['CHEMISTRY','PHYSICS','MATHEMATICS']})
dframe

       NAME      SUBJECT
0    Shubha    CHEMISTRY
1  Sharmila      PHYSICS
2    Rufina  MATHEMATICS

9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [16]:
dateseries=pd.date_range(start='1-1-2023',end='10-2-2023',freq='D')
dateseries

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

10. Create 2D list to DataFrame

In [17]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [18]:
df=pd.DataFrame.from_records(lists)

In [19]:
df

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24